body {
    background: linear-gradient(to right, rgb(238, 174, 174) 0%, rgb(233, 203, 148) 100%);
}

.carousel-inner{
    margin-bottom: 30px;
}

.head-h1{
   
    width: 60%;
    margin: 0 auto;
 
}

.fa-map-marker-alt {
    margin-top: -15px;
}

.h1 {
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgb(207, 87, 87);
    text-shadow: 2px 2px 2px white;
}

.h1-inner{
  
    text-align: center;
}

.line-heading-movie-1 {
    width: 100%;
    height: 20px;
   
    margin-top: -19px;
    
    background:whitesmoke;
    font-size: 0;
    border: 1px solid white;
}

.heading-movie {
    background-color: rgba(0,0,0,0);
    font-weight: bolder;
    color: white;
    text-shadow: 1.5px 1.5px 2px rgb(68, 67, 67);
    height: 50px;
    font-size: 20px;
 }

.heading-movie:hover {
    color: rgb(219, 204, 204);
    font-size: 20px;
}

.heading-movie-1 {
    color: rgb(207, 87, 87);
    border-bottom: 3px solid rgb(207, 87, 87);
}



#cen {
    margin-left: 60px;
}

#central {
    display: none;
}

.card {
    width: 250px;
    background: rgba(0,0,0,0);
    border:  rgba(0,0,0,0);   
}


.detail {
    margin-left: 100px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(68, 67, 67);
}

.detail:hover {
    color: rgb(207, 87, 87);
}

#movie-coming {
    display: none;
}

.col {
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.w-100 {
    height: 450px;
}

.card-body, .card-text{
    margin-left: 40px;
}

.detail:active, .detail:hover .hide,  .detail:hover .card-body{

    display: block;
    color: rgb(207, 87, 87);
}

.hide{
    display: none;
    padding: 20px;
    border-radius: 2px 2px 2px 2px ;
}