<%- include('../partials/header2.ejs') %>

    <link rel="stylesheet" href="stylesheets/cinema.css">


    <script src="cinema.js" defer></script>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="http://www.engtest.net/UserFiles/Image/25782572575785785757575/cinema-Maroc.jpg" class="d-block w-100" alt="NMovie">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
    </div>

    <div>
        <h1 class="h1">LOCATION</h1>
        <button onclick="onClick_Showing()" class="heading-movie" id="now-showing">BANGKOK</button>
        <button onclick="onClick_Coming()" class="heading-movie" id="coming-soon">CENTRAL</button>
        <hr class="line-heading-movie">
    </div>


    <div id="movie-showing">
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-3">
                    <div class="col">
                        <a href="/showtime" class="detail">
                            <div class="card " style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Quartier CineArt</h5>
                                    <p class="card-text">Tel. 1349</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/showtime" class="detail">
                            <div class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Quartier CineArt</h5>
                                    <p class="card-text">Tel. 1349</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/showtime" class="detail">
                            <div class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Quartier CineArt</h5>
                                    <p class="card-text">Tel. 1349</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col">
                        <a href="/showtime" class="detail">
                            <div class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Quartier CineArt</h5>
                                    <p class="card-text">Tel. 1349</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="movie-coming">
        <div class="select-months-years">
        </div>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <div class="col">
                        <a href="/showtime" class="detail">
                            <div class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Paragon Cineplex</h5>
                                    <p class="card-text">Tel. 1349</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>